<% c++ #include "content.h" %>
<% skin skin %>
<% view Content uses content::Content %>
<% template render() %>
<!DOCTYPE html>
<html>
    <head>
        <title>App</title>
    </head>
    <body>
        <p>CppCMS starting application.</p>
    </body>
</html>
<% end template %>
<% end view %>
<% end skin %>